@import "./variables.scss";

._wrapper {
    background-color: $color-dark-blue;
    height: 100vh;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    span,
    a,
    strong,
    label {
        color: $color-almost-white;
    }

    svg {
        stroke: $color-almost-white;
    }
}
