@import "../../theme/variables.scss";

.Home {
    padding: $base-unit;

    .pagination {
        &_wrapper {
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            gap: $base-unit * 2;

            button {
                background: transparent;
                border: none;
                cursor: pointer;
                transition: 0.2s;
                opacity: 0.4;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }

    .filters {
        &_wrapper {
            padding: 0 $base-unit * 2;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            select {
                margin-left: $base-unit;
            }
        }
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .button {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: $base-unit;
            cursor: pointer;
        }
    }
}
